/* Giving the body the specified background color
for all page backgrounds. Give tables a background to 
replace image for tables rows */
.bg-4 {
    background-color: whitesmoke;
}

.bg-3 {
    opacity: .5;
}

.bg-1 {
    background-image: linear-gradient(to bottom, rgba(250, 250, 229, 0.5), rgba(237, 237, 248, 0.5)),
        url('../images/NOAA_Sky.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent;
}

/* Reset transparency  */
.bg-2 {
    opacity: 1.0;
}

/* Adding media queries to show the drop-down
and hide the navbar when the screen is smaller than 768 pixels and turn it blue
*/
@media (max-width: 660px) {
    .navbar {
        padding: 10px;
        background: #5191fd;
    }
}

@media (min-width: 660px) {
    .navbar {
        padding: 10px;
        background: #cacacc;
    }
}

/* Formatting for anaysis card */
.anal {
    padding: 30px;
    background: #ebdbeb;
}
.right-1 { 
    grid-gap: 20px; 
    width: 10%; 
}
.left-1 { 
    padding: 20px;
    grid-gap: 20px; 
    width: 90%; 
}

/* Buttons get resized so that on smaller screens so they do not wrap */
@media (max-width: 768px) {
    .btn {
      font-size:11px;
      padding:4px 6px;
    }
}
  @media (min-width: 768px) {
    .btn {
      font-size:12px;
      padding:6px 12px;
    }
  }
  
  @media (min-width: 992px) {
    .btn {
      font-size:14px;
      padding:8px 12px;
    }
  }
  
  /* Special formatting for only the landing page */
  .card-land {
    flex-direction: row;
  }
  .img-land {
    width: 50%;
    height: 40%;
  }

  /* Page footer for bg image credit*/
  .footer-bs{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color:white;
    text-align: center;
    text-size-adjust: .5;
}
/* TODO formatting for fixed table headings */
/* Table header and table width inconsistent */
/* .table {
    display: flex;
    flex-flow: column;
    width: 100%;
} */

/* .thead {
    flex: 1 1 auto;
}

.tbody {
    max-height: 500px;
    width: 100%;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tr {
    width: 100%;
    display: table;
    table-layout: auto;
} */